header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: sticky;
  background-color: var(--color-gray1);
  top: 0;
  width: 100%;
  color: var(--color-gray12);
  border-bottom: 1px solid var(--color-gray3);
  padding: 1rem 3rem;
  z-index: 1000;
}
@media screen and (max-width: 40em) {
  header {
    flex-direction: column;
  }
}

.siteTitle {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: ui-serif, serif;
}
nav {
  display: flex;
  font-weight: 600;
  flex-shrink: 0;
}
nav ul {
  display: grid;
  position: relative;
  margin: 0;
  padding: 0;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  place-items: center;
  overflow: hidden;
  --offset-x: 0.35rem;
  --item-width: calc(100% / var(--n-items));
}

nav ul::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: calc(var(--item-width) * var(--current-item) + var(--offset-x));
  width: calc(var(--item-width) - var(--offset-x) * 2);
  background-color: var(--color-gray7);
}

nav ul > * {
  width: 100%;
  text-align: center;
  padding-block: 0.2rem;
  padding-inline: 0.4rem;
}

h1 {
  line-height: 2;
}
footer {
  width: 100%;
  color: var(--color-gray12);
  padding: 1rem 0.5rem;
  text-align: center;
  font-style: italic;
}

nav a:where(:hover, :focus-within) {
  display: inline-block;
  animation: pulse 0.3s;
}
